[submodule "extern/machine.specifications"]
	path = extern/machine.specifications
	url = git://github.com/stephen-czetty/machine.specifications.git
[submodule "extern/UMMO"]
	path = extern/UMMO
	url = git://github.com/stephen-czetty/UMMO.git
